<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>info</title>
</head>
<body>
	<h1>INFO</h1>

	<p>
		id: <span th:text="${id}"></span>
	</p>
	<p>
		nome: <span th:text="${nome}"></span>
	</p>

	<p>
		Cognome: <span th:text="${cognome}"></span>
	</p>

	<p>
		email: <span th:text="${email}"></span>
	</p>

	<p>
		data nascita: <span th:text="${data}"></span>
	</p>

	<p>
		indirizzo: <span th:text="${indirizzo}"></span>
	</p>
	<p>
		citta: <span th:text="${citta}"></span>
	</p>
	
	<p>
		corso: <span th:text="${citta}"></span>
	</p>	
	
	<a href="getstudenti"><strong>CONTROLLA LA LISTA DEGLI
			ISCRITTI!</strong></a>
</body>
</html>