<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tutti I Nostri Corsi!</title>
</head>
<body style="background: aliceblue; text-align: center">
	<h1 style="text-align: center">QUI TROVI TUTTI I CORSI CHE OFFRIAMO!</h1>
	<p style="background: yellow;">
		<strong>Lista Corsi 2022</strong>
	</p>
	<div th:each="p: ${corsi}">
		<div th:text="${p.toString()}"></div>
		<br>
		<hr>
	</div>
	<a href="getstudenti"><strong>CONTROLLA LA LISTA DEGLI ISCRITTI!</strong></a>
	<br>
	<br>
	<a href="alunno"><strong>NUOVA ISCRIZIONE</strong></a>
	<br>
	<br>
	<a href="elimina"><strong>ELIMINA ISCRIZIONE</strong></a>
	<br>
	<br>
	<a href="aggiorna"><strong>AGGIORNA ISCRIZIONE ESISTENTE</strong></a>
	<br>
	<br>
</body>
</html>